In [243]:
import pandas as pd
import numpy as np

In [244]:
pizza_order = pd.read_csv(r"C:\Users\user\Desktop\Ezekiel's Copy\Pizza+Place+Sales (3)\new files\pizza_sales\orders.csv") #importing a dataset in pandas

In [245]:
pizza_order

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

### manipulating  the dataset

In [246]:
pizza_order.isna().sum() #checking for null values

order_id    0
date        0
time        0
dtype: int64

In [247]:
pizza_order.duplicated().sum() #checking for duplicate values

np.int64(0)

In [248]:
pizza_order.value_counts() #checking each value count

order_id  date        time
1         2015-01-01  11:38:36    1
14241     2015-08-26  13:49:24    1
14239     2015-08-26  13:12:31    1
14238     2015-08-26  12:51:01    1
14237     2015-08-26  12:46:25    1
                                 ..
7116      2015-04-30  12:40:05    1
7115      2015-04-30  12:37:50    1
7114      2015-04-30  12:34:20    1
7113      2015-04-30  12:21:01    1
21350     2015-12-31  23:02:05    1
Name: count, Length: 21350, dtype: int64

In [249]:
pizza_order.info() #overview of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  object
 2   time      21350 non-null  object
dtypes: int64(1), object(2)
memory usage: 500.5+ KB

In [250]:
pizza_order["time"]= pd.to_datetime(pizza_order["time"], format= "%H:%M:%S").dt.time #changing column datatype to time datatype

In [251]:
pizza_order["time"].value_counts()  #checking value count for the time column

time
18:49:37    6
18:49:15    5
13:05:06    5
20:05:12    5
17:50:15    5
           ..
12:11:39    1
16:52:12    1
15:29:05    1
12:31:54    1
22:09:54    1
Name: count, Length: 16382, dtype: int64

In [252]:
pizza_order["date"]= pd.to_datetime(pizza_order["date"]) #changing column datatype to datetype

In [253]:
pizza_order["date"].value_counts() #checking value count for the date column

date
2015-11-27    115
2015-11-26    113
2015-10-15    107
2015-07-04    105
2015-05-15     94
             ...
2015-03-22     37
2015-02-22     37
2015-12-27     35
2015-12-30     32
2015-12-29     27
Name: count, Length: 358, dtype: int64

In [254]:
order_details =pd.read_csv(r"C:\Users\user\Desktop\Ezekiel's Copy\Pizza+Place+Sales (3)\new files\pizza_sales\order_details.csv") #importing new dataset

In [255]:
order_details

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [256]:
order_details.isna().sum() #checking for null values

order_details_id    0
order_id            0
pizza_id            0
quantity            0
dtype: int64

In [257]:
order_details.info() #overview of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [258]:
order_details.duplicated().sum()#checking for duplicated values

np.int64(0)

In [259]:
order_details.value_counts() #checking value count

order_details_id  order_id  pizza_id       quantity
1                 1         hawaiian_m     1           1
32418             14326     bbq_ckn_m      1           1
32409             14322     spicy_ital_s   1           1
32410             14323     pepperoni_s    1           1
32411             14323     thai_ckn_l     1           1
                                                      ..
16209             7132      classic_dlx_m  1           1
16210             7132      four_cheese_l  1           1
16211             7132      spicy_ital_l   1           1
16212             7133      mexicana_s     1           1
48620             21350     bbq_ckn_s      1           1
Name: count, Length: 48620, dtype: int64

In [260]:
pizza_order_details=pd.merge(pizza_order, order_details, on = "order_id", how="outer") #using the outer merging to merge two datasets

In [261]:
pizza_order_details

,order_id,date,time,order_details_id,pizza_id,quantity
0,1,2015-01-01,11:38:36,1,hawaiian_m,1
1,2,2015-01-01,11:57:40,2,classic_dlx_m,1
2,2,2015-01-01,11:57:40,3,five_cheese_l,1
3,2,2015-01-01,11:57:40,4,ital_supr_l,1
4,2,2015-01-01,11:57:40,5,mexicana_m,1
...,...,...,...,...,...,...
48615,21348,2015-12-31,21:23:10,48616,ckn_alfredo_m,1
48616,21348,2015-12-31,21:23:10,48617,four_cheese_l,1
48617,21348,2015-12-31,21:23:10,48618,napolitana_s,1
48618,21349,2015-12-31,22:09:54,48619,mexicana_l,1
48619,21350,2015-12-31,23:02:05,48620,bbq_ckn_s,1

In [262]:
pizza_types =pd.read_csv(r"C:\Users\user\Desktop\Ezekiel's Copy\Pizza+Place+Sales (3)\new files\pizza_sales\pizza_types.csv", encoding="latin") #importing a new dataset

In [263]:
pizza_types

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
5,thai_ckn,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
6,big_meat,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
7,classic_dlx,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
8,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
9,ital_cpcllo,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
10,napolitana,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
11,pep_msh_pep,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
12,pepperoni,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
13,the_greek,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
14,brie_carre,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
15,calabrese,The Calabrese Pizza,Supreme,"Nduja Salami, Pancetta, Tomatoes, Red Onions,..."
16,ital_supr,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
17,peppr_salami,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
18,prsc_argla,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
19,sicilian,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
20,soppressata,The Soppressata Pizza,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella..."
21,spicy_ital,The Spicy Italian Pizza,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ..."
22,spinach_supr,The Spinach Supreme Pizza,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti..."
23,five_cheese,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
24,four_cheese,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
25,green_garden,The Green Garden Pizza,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe..."
26,ital_veggie,The Italian Vegetables Pizza,Veggie,"Eggplant, Artichokes, Tomatoes, Zucchini, Red ..."
27,mediterraneo,The Mediterranean Pizza,Veggie,"Spinach, Artichokes, Kalamata Olives, Sun-drie..."
28,mexicana,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
29,spin_pesto,The Spinach Pesto Pizza,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat..."
30,spinach_fet,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."
31,veggie_veg,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [264]:
pizza_types.info() #overview of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  32 non-null     object
 1   name           32 non-null     object
 2   category       32 non-null     object
 3   ingredients    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [265]:
pizza_types.duplicated().sum() #checking for duplicated values

np.int64(0)

In [266]:
pizza_types.isnull().sum() #checking for null values

pizza_type_id    0
name             0
category         0
ingredients      0
dtype: int64

In [267]:
pizza_types.value_counts() #checking value count

pizza_type_id  name                                        category  ingredients
bbq_ckn        The Barbecue Chicken Pizza                  Chicken   Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce                  1
big_meat       The Big Meat Pizza                          Classic   Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                                   1
the_greek      The Greek Pizza                             Classic   Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions                         1
thai_ckn       The Thai Chicken Pizza                      Chicken   Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce                                   1
spinach_supr   The Spinach Supreme Pizza                   Supreme   Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese         1
spinach_fet    The Spinach and Feta Pizza                  Veggie    Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic                                                  1
spin_pesto     The Spinach Pesto Pizza                     Veggie    Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce                               1
spicy_ital     The Spicy Italian Pizza                     Supreme   Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic                              1
southw_ckn     The Southwest Chicken Pizza                 Chicken   Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce         1
soppressata    The Soppressata Pizza                       Supreme   Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic                             1
sicilian       The Sicilian Pizza                          Supreme   Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic                     1
prsc_argla     The Prosciutto and Arugula Pizza            Supreme   Prosciutto di San Daniele, Arugula, Mozzarella Cheese                                                1
peppr_salami   The Pepper Salami Pizza                     Supreme   Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic                                  1
pepperoni      The Pepperoni Pizza                         Classic   Mozzarella Cheese, Pepperoni                                                                         1
pep_msh_pep    The Pepperoni, Mushroom, and Peppers Pizza  Classic   Pepperoni, Mushrooms, Green Peppers                                                                  1
napolitana     The Napolitana Pizza                        Classic   Tomatoes, Anchovies, Green Olives, Red Onions, Garlic                                                1
mexicana       The Mexicana Pizza                          Veggie    Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic          1
mediterraneo   The Mediterranean Pizza                     Veggie    Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions     1
ital_veggie    The Italian Vegetables Pizza                Veggie    Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce                           1
ital_supr      The Italian Supreme Pizza                   Supreme   Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic                              1
ital_cpcllo    The Italian Capocollo Pizza                 Classic   Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano                                       1
hawaiian       The Hawaiian Pizza                          Classic   Sliced Ham, Pineapple, Mozzarella Cheese                                                             1
green_garden   The Green Garden Pizza                      Veggie    Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese                                              1
four_cheese    The Four Cheese Pizza                       Veggie    Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic    1
five_cheese    The Five Cheese Pizza                       Veggie    Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic         1
classic_dlx    The Classic Deluxe Pizza                    Classic   Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon                                                 1
ckn_pesto      The Chicken Pesto Pizza                     Chicken   Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce                                         1
ckn_alfredo    The Chicken Alfredo Pizza                   Chicken   Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce                            1
cali_ckn       The California Chicken Pizza                Chicken   Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese                  1
calabrese      The Calabrese Pizza                         Supreme   Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic                           1
brie_carre     The Brie Carre Pizza                        Supreme   Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic                              1
veggie_veg     The Vegetables + Vegetables Pizza           Veggie    Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic               1
Name: count, dtype: int64

In [268]:
pizza_types.loc[15:16, "ingredients"] = pizza_types.loc[15:16, "ingredients"].str.replace("Nduja Salami", "Nduja Salami") #manipulating the ingredients column to remove unwanted character

In [269]:
pizza_types["ingredients"]=pizza_types["ingredients"].apply(lambda x: x.lstrip() if isinstance(x, str) else x)

In [270]:
pizza=pd.read_csv(r"C:\Users\user\Desktop\Ezekiel's Copy\Pizza+Place+Sales (3)\new files\pizza_sales\pizzas.csv") #importing new dataset

In [271]:
pizza

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [272]:
pizza.duplicated().sum() #checking for duplicated values

np.int64(0)

In [273]:
pizza.isna().sum() #checking for null values

pizza_id         0
pizza_type_id    0
size             0
price            0
dtype: int64

In [274]:
pizza.info() #overview of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [275]:
pizza.value_counts() #value count of rows

pizza_id        pizza_type_id  size  price
bbq_ckn_l       bbq_ckn        L     20.75    1
bbq_ckn_m       bbq_ckn        M     16.75    1
southw_ckn_l    southw_ckn     L     20.75    1
soppressata_s   soppressata    S     12.50    1
soppressata_m   soppressata    M     16.50    1
                                             ..
green_garden_m  green_garden   M     16.00    1
green_garden_l  green_garden   L     20.25    1
four_cheese_s   four_cheese    S     11.75    1
four_cheese_m   four_cheese    M     14.75    1
veggie_veg_s    veggie_veg     S     12.00    1
Name: count, Length: 96, dtype: int64

In [276]:
pizza_types_orders = pd.merge(pizza,pizza_types, on = "pizza_type_id", how ="outer") #using the merge function

In [277]:
pizza_types_orders

,pizza_id,pizza_type_id,size,price,name,category,ingredients
0,bbq_ckn_s,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,bbq_ckn_m,bbq_ckn,M,16.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
2,bbq_ckn_l,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
3,big_meat_s,big_meat,S,12.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
4,big_meat_m,big_meat,M,16.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
...,...,...,...,...,...,...,...
91,the_greek_xl,the_greek,XL,25.50,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
92,the_greek_xxl,the_greek,XXL,35.95,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
93,veggie_veg_s,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
94,veggie_veg_m,veggie_veg,M,16.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
95,veggie_veg_l,veggie_veg,L,20.25,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [278]:
pizza_merge = pd.merge(pizza_order_details,pizza_types_orders, on = "pizza_id", how = "outer") #using the outer merge function

In [279]:
pizza_merge

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,11.0,2015-01-01,13:02:59,26.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,17.0,2015-01-01,13:53:00,43.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
2,27.0,2015-01-01,15:11:17,71.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
3,33.0,2015-01-01,15:54:08,83.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
4,51.0,2015-01-01,18:48:28,123.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48620,21251.0,2015-12-30,12:45:20,48406.0,veggie_veg_s,2.0,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48621,21296.0,2015-12-31,15:13:40,48493.0,veggie_veg_s,1.0,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48622,21298.0,2015-12-31,15:35:37,48500.0,veggie_veg_s,1.0,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48623,21299.0,2015-12-31,15:52:16,48503.0,veggie_veg_s,1.0,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48624,21319.0,2015-12-31,18:07:19,48553.0,veggie_veg_s,1.0,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [280]:
pizza_merge.info() #overview of the merged datasets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48625 entries, 0 to 48624
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  float64
 1   date              48620 non-null  datetime64[ns]
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  float64
 4   pizza_id          48625 non-null  object
 5   quantity          48620 non-null  float64
 6   pizza_type_id     48625 non-null  object
 7   size              48625 non-null  object
 8   price             48625 non-null  float64
 9   name              48625 non-null  object
 10  category          48625 non-null  object
 11  ingredients       48625 non-null  object
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 4.5+ MB

In [281]:
pizza_merge.duplicated().sum()

np.int64(0)

In [282]:
pizza_merge.isna().sum()

order_id            5
date                5
time                5
order_details_id    5
pizza_id            0
quantity            5
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

In [283]:
pizza_merge["order_id"].isna().sum()

np.int64(5)

In [284]:
pizza_merge["order_id"].value_counts()

order_id
18845.0    21
10760.0    21
14304.0    15
13906.0    15
20163.0    15
           ..
12875.0     1
12863.0     1
12655.0     1
12193.0     1
21246.0     1
Name: count, Length: 21350, dtype: int64

In [285]:
 pizza_merge.dropna(subset=["order_id"], inplace=True) #removing the null values since other datasets have no mutual columns

In [286]:
pizza_merge.isnull().sum()

order_id            0
date                0
time                0
order_details_id    0
pizza_id            0
quantity            0
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

### Calculating total revenue/sales

In [287]:
pizza_merge['price'].sum()

np.float64(801944.7)

### calculating total quantity of pizza sold

In [288]:
pizza_merge["quantity"].sum()

np.float64(49574.0)

### total orders

In [289]:
pizza_merge["order_id"].nunique()

21350

### total orders

In [290]:
len(pizza_merge["order_id"].value_counts())

21350

### finding pizza types sold

In [291]:
pizza_merge["pizza_type_id"].nunique()

32

### finding pizza types sold

In [292]:
len(pizza_merge["pizza_type_id"].value_counts())

32

### calculating the average price

In [293]:
pizza_merge["price"].mean()

np.float64(16.494132044426163)

### calculating peak hours of sales

In [294]:
pizza_merge["time"]= pd.to_datetime(pizza_merge["time"], format= "%H:%M:%S").dt.time #first convert to datetime datatype

In [295]:
pizza_merge.groupby([x.hour for x in pizza_merge["time"]])["price"].sum().sort_values(ascending=False).index[0] #calling the hour function... from the result, more purchases are within lunch time

np.int64(12)

### calculating total sales made each day of the week

In [296]:
pizza_merge["date"]= pd.to_datetime(pizza_merge["date"]) # change the date column to datetime datatype

In [297]:
pizza_merge["day_of_the_week"]=pizza_merge["date"].dt.day_name() #calling the day function

In [298]:
pizza_merge.groupby("day_of_the_week")["price"].sum().sort_values(ascending=False) #suming up daily sales and arranging according to the highest sales per day

day_of_the_week
Friday       133773.90
Thursday     120912.45
Saturday     120865.30
Wednesday    112006.45
Tuesday      111764.70
Monday       105357.15
Sunday        97264.75
Name: price, dtype: float64

In [299]:
pizza_merge.groupby('pizza_type_id')["quantity"].sum().sort_values(ascending=False).head(5) #grouping by top 5 best selling pizza

pizza_type_id
classic_dlx    2453.0
bbq_ckn        2432.0
hawaiian       2422.0
pepperoni      2418.0
thai_ckn       2371.0
Name: quantity, dtype: float64

In [300]:
pizza_merge["month"]=pizza_merge["date"].dt.month_name() #calling the month function

In [301]:
pizza_merge.groupby("month")["price"].sum().sort_values(ascending=False) #grouping by sales made in each month from the highest to the lowest

month
July         71027.45
May          69939.35
March        69198.00
November     69054.00
January      68472.70
April        67286.20
August       67068.80
June         66796.30
February     64067.40
December     63450.00
September    63018.00
October      62566.50
Name: price, dtype: float64

In [302]:
pizza_merge.groupby("pizza_type_id")["quantity"].sum().sort_values(ascending=True).head(10) #pizza types performing poorly ranked from the lowest

pizza_type_id
brie_carre      490.0
mediterraneo    934.0
calabrese       937.0
spinach_supr    950.0
soppressata     961.0
spin_pesto      970.0
ckn_pesto       973.0
ital_veggie     981.0
ckn_alfredo     987.0
green_garden    997.0
Name: quantity, dtype: float64